/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 17px;
    height: 15px;
    left: 10px;
    top: 12px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
    background: #373a47;
    padding: 1.5em 0.5em 0;
    font-size: 1.5em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
}

.bm-item-list .fa {
    width: 25px;
    text-align: center;
}

.bm-item-list a {
    padding: 12px;
    text-decoration: none;
}

.bm-item-list a span {
    margin-left: 15px;
    font-weight: 600;
}

.bm-item-list a:hover {
    text-decoration: none;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}