.logs-component h1 {
    margin-left: 60px;
}

.logs-component .log {
    padding-bottom: 5px;
    background-color: #eee;
}

.logs-component .log .spinner {
    margin-left: 60px;
    padding-bottom: 15px;
}

.logs-component .log pre > .link {
    float: right;
}

.logs-component .log-data, .log-error {
    margin-left: 60px;
    margin-right: 60px;
}

.logs-component ul {
    list-style-type: none;
    margin: 0 !important;
    padding: 0 0 0 60px;
    overflow: hidden;
    background-color: #eee;
}

.logs-component ul li {
    float: left;
}

.logs-component ul li .active {
    /*background-color: #eee;*/
    background-color: #f5f5f5;
}

.logs-component ul li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none !important;
}

.logs-component ul li a:hover {
    background-color: darkgray;
    text-decoration: none;
}

.log-row > .time, .thread, .level, .millis {
    padding-right: 6px;
}

.log-row > .time, .millis {
    color: gray;
}

.log-row > .thread {
    color: darkgray;
}

.log-row > .info {
    color: green;
}

.log-row > .error {
    color: red;
}